.valid-feedback,
.invalid-feedback {
    display: none;
}

.was-submitted {
    .is-valid {
        // @apply text-success;
        & ~ .valid-feedback {
            display: block;
        }
    }
    .is-invalid {
        @apply border-destructive;
        & ~ .invalid-feedback {
            display: block;
        }
    }
}
