.select-scrollable-trigger {
    .select-scrollable-item-inner {
        max-width: 230px; // set to prevent toggle icon squeezing
    }
  .select-scrollable-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.select-scrollable-content {
  .select-scrollable-item {
    & > span:nth-of-type(2) {
      // width: 100%;
      flex: 1;
    }
  }
}
